.form-control {
  width: 100%;
}
.form {
  position: relative;
  display: flex;
  width: 40vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto 0;
}

.form-control label {
  font-size: 18px;
  width: 40vw;
  display: inline-block;
  color: rgb(17, 39, 46);
}

.form-control input,
.form-control textarea {
  width: 40vw;
}
.form-action button {
  padding: 5px 8px;
  position: absolute;
  left: 0;
  bottom: -30px;
  background-color: rgb(161, 59, 201);
  border-radius: 3px;
}
